.comment-input {
  display: flex;
  align-items: center;
}

.comment-input input {
  background: #f7f7f7;
  border: none;
  outline: none;
  flex: 1;
  overflow: auto;
}

.comment-input .postBtn {
  border: none;
  outline: none;
  background: #f7f7f7;
  color: blue;
  font-weight: 600;
  opacity: 0.5;
}

.comment-input .postBtn:hover {
  opacity: 1;
}
