.login-page {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
}

.login-page form,
.card-notify {
  background: transparent;
  max-width: 400px;
  width: 100%;
  /* border: 1px solid #ddd; */
  border-radius: 15px;
  box-shadow: inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.1),
    10px 40px 40px rgba(255, 255, 255, 0.1);
  padding: 50px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-notify .text-notify {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(41, 37, 37);
}

.card-notify .text-content {
  background: whitesmoke;
  box-shadow: inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.1),
    10px 40px 40px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 5px;
}

.card-notify .text-content p {
  color: rgb(41, 37, 37);
  font-weight: bold;
}

.login-page .text-logo {
  font-size: 55px;
  color: rgb(41, 37, 37);
}

.login-page .btn {
  background-color: transparent;
  font-weight: bold;
  font-size: medium;
  color: rgb(41, 37, 37);
}

@media (max-width: 410px) {
  .login-page form {
    width: 95%;
  }
}

@media (max-width: 350px) {
  .login-page form {
    width: 95%;
  }
  .login-page .text-logo {
    font-size: 50px;
  }
}

@media (max-width: 310px) {
  .login-page form {
    width: 90%;
  }
  .login-page .text-logo {
    font-size: 40px;
  }
}

@media (max-width: 265px) {
  .login-page form {
    width: 85%;
  }
  .login-page .text-logo {
    font-size: 30px;
  }
}

@media (max-width: 220px) {
  .login-page form {
    width: 80%;
  }
  .login-page .text-logo {
    font-size: 25px;
  }
}
